body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERAL */

h2, h3, p {
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
}

h2 {
  font-size: 2em;
}

.flex-center {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  margin-left: auto;
}

button {
  height: 40px;
  background-color: #1976d2;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 8px 22px;
}

/* NAVBAR */
.navbar {
  background-color: #1976d2;
  height: 50px;
}

.navbar > p {
  color: #fff;
  margin-left: 1em;
}

/* CART */
.cart-wrapper {
  margin: 2em;
}

.subtotal {
  font-weight: bold;
  text-align: right;
}

/* PRODUCT */

.product-container {
  justify-content: space-around;
  margin: 2em;
}

.product-image {
  max-width: 220px;
}

.name-sku-box {
  margin-left: 4em;
}

.quantity-price-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5em;
}

/* MEDIA QUERIES */
/* mobile */
@media (max-width:480px){
  .product-container, .image-name-box {
    flex-direction: column;
  }

  .name-sku-box {
    margin: 0px;
    text-align: center;
  }

  .quantity-price-box {
    margin: 0em;
  }

  button {
    width: 100%;
    justify-content: center;
  }

  .subtotal {
    text-align: center;
  }
}
